<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711862286055-9ch1a28v17ob0g5a6telhdt8e4k3f4rb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711862286055-9ch1a28v17ob0g5a6telhdt8e4k3f4rb</string>
	<key>API_KEY</key>
	<string>AIzaSyBkeReiOk75dxvfmpiKk6Jn_vNWeFaq0iQ</string>
	<key>GCM_SENDER_ID</key>
	<string>711862286055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jc</string>
	<key>PROJECT_ID</key>
	<string>jirdacell</string>
	<key>STORAGE_BUCKET</key>
	<string>jirdacell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711862286055:ios:de32e1e97e4c5323489442</string>
</dict>
</plist>